Recent Book Reviews

<h2>Recent Book Reviews:</h2>
<div *ngFor="let book of recentBooks | async">
  <div><a [routerLink]="['books',book.$key]">{{book.title}}</a></div>
  <div>Rating: *****</div>
  <div *ngFor="let review of book.reviews | refirebase">
    <div><a [routerLink]="['users',review.author]">{{review.authorName}}</a> says: {{review.body}}</div>
    <div>Posted on {{review.date}}</div>
  </div>
</div>

<h2>Other Books</h2>
<div *ngFor="let book of books | async">
  <div><a [routerLink]="['books',book.$key]">{{book.name}}</a></div>
</div>